[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "pip_audit"
dynamic = ["version"]
description = "A tool for scanning Python environments for known vulnerabilities"
readme = "README.md"
license = { file = "LICENSE" }
authors = [
    { name = "Alex Cameron", email = "alex.cameron@trailofbits.com" },
    { name = "Dustin Ingram", email = "di@python.org" },
    { name = "William Woodruff", email = "william@trailofbits.com" },
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Security",
]
dependencies = [
    "CacheControl[filecache]>=0.12.10",
    # NOTE(ww): Release 2.5.0 is broken, subsequent 2.5.x releases fix it.
    # See: https://github.com/CycloneDX/cyclonedx-python-lib/issues/245
    "cyclonedx-python-lib ~= 2.0, != 2.5.0",
    "html5lib>=1.1",
    "packaging>=23.0.0",                     # https://github.com/pypa/pip-audit/issues/464
    "pip-api>=0.0.28",
    "pip-requirements-parser>=32.0.0",
    # NOTE(ww): urllib3 2.0 and higher are incompatible with CacheControl;
    # we prevent its use by using a version of requests that uses urllib3 < 2.0.
    # See: https://github.com/psf/requests/issues/6437
    "requests<2.30",
    "rich>=12.4",
    "toml>=0.10",
]
requires-python = ">=3.7"

[project.optional-dependencies]
test = ["coverage[toml]", "pretend", "pytest", "pytest-cov"]
lint = [
    "black>=22.3.0",
    # NOTE(ww): ruff is under active development, so we pin conservatively here
    # and let Dependabot periodically perform this update.
    "ruff < 0.0.265",
    "interrogate",
    "isort",
    "mypy",
    "types-html5lib",
    "types-requests",
    "types-toml",
]
doc = ["pdoc"]
dev = ["build", "bump>=1.3.2", "pip-audit[doc,test,lint]"]

[project.scripts]
pip-audit = "pip_audit._cli:audit"

[project.urls]
Homepage = "https://pypi.org/project/pip-audit/"
Issues = "https://github.com/pypa/pip-audit/issues"
Source = "https://github.com/pypa/pip-audit"

[tool.isort]
line_length = 100
multi_line_output = 3
known_first_party = "pip_audit"
include_trailing_comma = true

[tool.black]
line-length = 100

[tool.interrogate]
# don't enforce documentation coverage for packaging, testing, the virtual
# environment, or the CLI (which is documented separately).
exclude = ["env", "test", "pip_audit/_cli.py"]
ignore-semiprivate = true
fail-under = 100

[tool.mypy]
allow_redefinition = true
check_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
ignore_missing_imports = true
no_implicit_optional = true
show_error_codes = true
sqlite_cache = true
strict_equality = true
warn_no_return = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true

[tool.bump]
input = "pip_audit/__init__.py"
reset = true

[tool.ruff]
# Never enforce `E501` (line length violations).
ignore = ["E501"]
select = ["E", "F", "W", "UP"]
target-version = "py37"
