[tool.isort]
line_length = 100
multi_line_output = 3
known_first_party = "pip_audit"
include_trailing_comma = true

[tool.black]
line-length = 100

[tool.coverage.run]
# don't attempt code coverage for the CLI entrypoints
omit = ["pip_audit/_cli.py"]

[tool.interrogate]
# don't enforce documentation coverage for packaging, testing, the virtual
# environment, or the CLI (which is documented separately).
exclude = ["setup.py", "env", "test", "pip_audit/_cli.py", "pip_audit/_version.py"]
ignore-semiprivate = true
fail-under = 100
