name: Deploy Documentation

on:
  push:
    branches:
      - main

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          # NOTE: We use 3.10+ typing syntax via future, which pdoc only
          # understands if it's actually run with Python 3.10 or newer.
          python-version: ">= 3.10"
          cache: "pip"
          cache-dependency-path: pyproject.toml

      - name: setup
        run: |
          make dev PIP_AUDIT_EXTRA=doc
      - name: build docs
        run: |
          make doc
      - name: upload docs artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: ./html/

  # This is copied from the official `pdoc` example:
  #   https://github.com/mitmproxy/pdoc/blob/main/.github/workflows/docs.yml
  #
  # Deploy the artifact to GitHub pages.
  # This is a separate job so that only actions/deploy-pages has the necessary permissions.
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      # NOTE: Needed to push to the repository.
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
